<section>
  <div class="container">
    <div class="main">
      <div class="view">
        <img src="./image/theme1.svg" />
      </div>
      <div class="box-line">
        <div class="line"></div>
      </div>
      <div [ngClass]="darkmode ? 'text-favorites-dark' : 'text-favorites'">
        <label>SHOP OUR FAVORITES</label>
      </div>
      <div class="grid-container">
        <div class="item1">
          <div class="group-text">
            <p class="item1-head">Lorem ipsum dolor sit amet, consectetur</p>
            <p class="item1-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
              volutpat tincidunt mauris posuere varius. Praesent laoreet quam in
              ligula venenatis, vitae rutrum mauris lacinia. In consequat libero
              massa, vitae porta mauris pretium et. Integer risus purus,
              vulputate ut ante eu, ultricies faucibus eros. Phasellus tempus
              pharetra quam, at aliquam velit euismod nec.
            </p>
            <button class="button-more">
              <label>more</label>
            </button>
          </div>
        </div>
        <div class="item2">
          <img src="./image/theme2.svg" />
        </div>
      </div>
      <div class="grid-container2">
        <div class="item1">
          <div class="background-image"></div>
          <img src="./image/theme3.svg" />
        </div>
        <div class="item2">
          <div class="group-text">
            <button class="button-best-seller">
              <label>Best Seller</label>
            </button>
            <p class="item2-head">Lorem ipsum dolor sit amet, consectetur</p>
            <p  class="item2-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
              volutpat tincidunt mauris posuere varius. Praesent laoreet quam in
              ligula venenatis, vitae rutrum mauris lacinia. In consequat libero
              massa, vitae porta mauris pretium et. Integer risus purus,
              vulputate ut ante eu, ultricies faucibus eros. Phasellus tempus
              pharetra quam, at aliquam velit euismod nec.
            </p>
            <button class="button-more">
              <label>more</label>
            </button>
          </div>
        </div>
      </div>
      <div class="group-lorem">
        <div class="text-lorem">
          <label>Lorem ipsum</label>
        </div>
        <div class="menu-lorem">
          <div class="list-menu-lorem1">
            <div class="list-menu-image1">
              <img src="./image/theme4.svg" />
            </div>
            <div class="list-menu-gruop-text1">
              <label>Lorem ipsum</label>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                volutpat tincidunt...
              </p>
            </div>
          </div>
          <div class="list-menu-lorem2">
            <div class="list-menu-image2">
              <img src="./image/theme5.svg" />
            </div>
            <div class="list-menu-gruop-text2">
              <label>Lorem ipsum</label>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                volutpat tincidunt...
              </p>
            </div>
          </div>
          <div class="list-menu-lorem3">
            <div class="list-menu-image2">
              <img src="./image/theme6.svg" />
            </div>
            <div class="list-menu-gruop-text3">
              <label>Lorem ipsum</label>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                volutpat tincidunt...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
