<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <title>About</title>
  </head>
  <body>
    <div class="navbar">
      <img src="./image/backgroud-head.svg" />
      <div class="mode">
        <button onclick="myFunction()">Toggle dark mode</button>
      </div>
    </div>
    <div class="container">
      <div class="main">
        <div class="main-body">
          <div></div>
          <div class="text-head">Toncake</div>
          <div class="button-icon">
            <div class="icon-facebook">
              <img src="./image/icon-facebook.svg" />
            </div>
            <div class="icon-line">
              <img src="./image/icon-line.svg" />
            </div>
            <div class="icon-twitter">
              <img src="./image/icon-twitter.svg" />
            </div>
            <div class="icon-instagram">
              <img src="./image/icon-instagram.svg" />
            </div>
            <div class="icon-mail">
              <img src="./image/icon-mail.svg" />
            </div>
          </div>
        </div>
        <div class="main-menu">
          <div class="search">
            <img src="./image/icon-search.svg" />
            <label>SEARCH...</label>
          </div>
          <div class="mat-menu">
            <div class="menu">
                <a [routerLink]="['/']" class="home">HOME</a>
              <a [routerLink]="['/about']" class="about">ABOUT</a>
              <a [routerLink]="['/faq']" class="faq active">FAQ</a>
            </div>
          </div>
          <div class="login">
            <div class="icon-user">
              <img src="./image/icon-user.svg" />
            </div>
            <div class="text-login">
              <label>LOG IN</label>
            </div>
            <div class="icon-bag">
              <img src="./image/icon-bag.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="line-container"></div>
    <div class="text-head-title">
        <label>TITLE A</label>
    </div>
    <div class="text-list-menu">
      <div class="menu-numberA1">
        <div class="number">
          <div class="no-number">1</div>
        </div>
        <div class="description-list-menu">
          <div class="head-description">Lorem ipsum dolor sit amet, consectetur</div>
          <div class="title-descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat tincidunt mauris posuere varius. Praesent laoreet quam in ligula venenatis, vitae rutrum mauris lacinia. In consequat libero massa, vitae porta mauris pretium et. Integer risus purus, vulputate ut ante eu</div>
        </div>
      </div>
      <div class="line-list-menu"></div>
      <div class="menu-numberA2">
        <div class="number">
          <div class="no-number">2</div>
        </div>
        <div class="description-list-menu">
          <div class="head-description">Lorem ipsum dolor sit amet, consectetur</div>
          <div class="title-descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat tincidunt mauris posuere varius. Praesent laoreet quam in ligula venenatis, vitae rutrum mauris lacinia. In consequat libero massa, vitae porta mauris pretium et. Integer risus purus, vulputate ut ante eu</div>
        </div>
      </div>
      <div class="line-list-menu"></div>
      <div class="menu-numberA3">
        <div class="number">
          <div class="no-number">3</div>
        </div>
        <div class="description-list-menu">
          <div class="head-description">Lorem ipsum dolor sit amet, consectetur</div>
          <div class="title-descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat tincidunt mauris posuere varius. Praesent laoreet quam in ligula venenatis, vitae rutrum mauris lacinia. In consequat libero massa, vitae porta mauris pretium et. Integer risus purus, vulputate ut ante eu</div>
        </div>
      </div>
    </div>
    <div class="line-a-z"></div>
    <div class="text-head-title">
      <label>TITLE B</label>
  </div>
  <div class="text-list-menu">
    <div class="menu-numberB1">
      <div class="number">
        <div class="no-number">1</div>
      </div>
      <div class="description-list-menu">
        <div class="head-description">Lorem ipsum dolor sit amet, consectetur</div>
        <div class="title-descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat tincidunt mauris posuere varius. Praesent laoreet quam in ligula venenatis, vitae rutrum mauris lacinia. In consequat libero massa, vitae porta mauris pretium et. Integer risus purus, vulputate ut ante eu</div>
      </div>
    </div>
    <div class="line-list-menu"></div>
    <div class="menu-numberB2">
      <div class="number">
        <div class="no-number">2</div>
      </div>
      <div class="description-list-menu">
        <div class="head-description">Lorem ipsum dolor sit amet, consectetur</div>
        <div class="title-descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat tincidunt mauris posuere varius. Praesent laoreet quam in ligula venenatis, vitae rutrum mauris lacinia. In consequat libero massa, vitae porta mauris pretium et. Integer risus purus, vulputate ut ante eu</div>
      </div>
    </div>
    <div class="line-list-menu"></div>
    <div class="menu-numberB3">
      <div class="number">
        <div class="no-number">3</div>
      </div>
      <div class="description-list-menu">
        <div class="head-description">Lorem ipsum dolor sit amet, consectetur</div>
        <div class="title-descript">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat tincidunt mauris posuere varius. Praesent laoreet quam in ligula venenatis, vitae rutrum mauris lacinia. In consequat libero massa, vitae porta mauris pretium et. Integer risus purus, vulputate ut ante eu</div>
      </div>
    </div>
  </div>
    <div class="last-navbar">
      <img src="./image/backgroud.svg" />
      <div class="group-last">
        <div class="text-last-navbar">
          <img src="./image/icon-last-logo.svg" />
        </div>
        <div class="text-description-last">
          <label>2818 S International Weslaco TX 78596 USA</label>
        </div>
        <div class="group-icon-last">
          <div class="icon-facebook-last">
            <img src="./image/icon-facebook-last.svg" />
          </div>
          <div class="icon-line-last">
            <img class="last-line" src="./image/icon-line-last.svg" />
          </div>
          <div class="icon-twitter-last">
            <img class="last-twitter" src="./image/icon-twitter-last.svg" />
          </div>
          <div class="icon-instagram-last">
            <img src="./image/icon-instagram-last.svg" />
          </div>
          <div class="icon-mail-last">
            <img class="last-mail" src="./image/icon-mail-last.svg" />
          </div>
        </div>
        <div class="text-connect">
          <label>© 2022 www.boltenergy-th.com | All Rights Reserved.</label>
        </div>
      </div>
    </div>
  </body>

  <script>
    function myFunction() {
      var element = document.body;
      element.classList.toggle("dark-mode");
    }
  </script>
</html>
