<section>
  <div class="line-container"></div>
  <div class="text-head-title">
    <label>TITLE A</label>
  </div>
  <div class="text-list-menu">
    <div class="menu-numberA1">
      <div class="number">
        <div class="no-number">1</div>
      </div>
      <div class="description-list-menu">
        <div class="head-description">
          Lorem ipsum dolor sit amet, consectetur
        </div>
        <div class="title-descript">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          volutpat tincidunt mauris posuere varius. Praesent laoreet quam in
          ligula venenatis, vitae rutrum mauris lacinia. In consequat libero
          massa, vitae porta mauris pretium et. Integer risus purus, vulputate
          ut ante eu
        </div>
      </div>
    </div>
    <div class="line-list-menu"></div>
    <div class="menu-numberA2">
      <div class="number">
        <div class="no-number">2</div>
      </div>
      <div class="description-list-menu">
        <div class="head-description">
          Lorem ipsum dolor sit amet, consectetur
        </div>
        <div class="title-descript">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          volutpat tincidunt mauris posuere varius. Praesent laoreet quam in
          ligula venenatis, vitae rutrum mauris lacinia. In consequat libero
          massa, vitae porta mauris pretium et. Integer risus purus, vulputate
          ut ante eu
        </div>
      </div>
    </div>
    <div class="line-list-menu"></div>
    <div class="menu-numberA3">
      <div class="number">
        <div class="no-number">3</div>
      </div>
      <div class="description-list-menu">
        <div class="head-description">
          Lorem ipsum dolor sit amet, consectetur
        </div>
        <div class="title-descript">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          volutpat tincidunt mauris posuere varius. Praesent laoreet quam in
          ligula venenatis, vitae rutrum mauris lacinia. In consequat libero
          massa, vitae porta mauris pretium et. Integer risus purus, vulputate
          ut ante eu
        </div>
      </div>
    </div>
  </div>
  <div class="line-a-z"></div>
  <div class="text-head-title">
    <label>TITLE B</label>
  </div>
  <div class="text-list-menu">
    <div class="menu-numberB1">
      <div class="number">
        <div class="no-number">1</div>
      </div>
      <div class="description-list-menu">
        <div class="head-description">
          Lorem ipsum dolor sit amet, consectetur
        </div>
        <div class="title-descript">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          volutpat tincidunt mauris posuere varius. Praesent laoreet quam in
          ligula venenatis, vitae rutrum mauris lacinia. In consequat libero
          massa, vitae porta mauris pretium et. Integer risus purus, vulputate
          ut ante eu
        </div>
      </div>
    </div>
    <div class="line-list-menu"></div>
    <div class="menu-numberB2">
      <div class="number">
        <div class="no-number">2</div>
      </div>
      <div class="description-list-menu">
        <div class="head-description">
          Lorem ipsum dolor sit amet, consectetur
        </div>
        <div class="title-descript">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          volutpat tincidunt mauris posuere varius. Praesent laoreet quam in
          ligula venenatis, vitae rutrum mauris lacinia. In consequat libero
          massa, vitae porta mauris pretium et. Integer risus purus, vulputate
          ut ante eu
        </div>
      </div>
    </div>
    <div class="line-list-menu"></div>
    <div class="menu-numberB3">
      <div class="number">
        <div [ngClass]="darkmode ? 'no-number-dark' : 'no-number'">3</div>
      </div>
      <div class="description-list-menu">
        <div class="head-description">
          Lorem ipsum dolor sit amet, consectetur
        </div>
        <div class="title-descript">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          volutpat tincidunt mauris posuere varius. Praesent laoreet quam in
          ligula venenatis, vitae rutrum mauris lacinia. In consequat libero
          massa, vitae porta mauris pretium et. Integer risus purus, vulputate
          ut ante eu
        </div>
      </div>
    </div>
  </div>
</section>
