<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <title>About</title>
  </head>
  <body>
    <div class="navbar">
      <img src="./image/backgroud-head.svg" />
      <div class="mode">
        <button onclick="myFunction()">Toggle dark mode</button>
      </div>
    </div>
    <div class="container">
      <div class="main">
        <div class="main-body">
          <div></div>
          <div class="text-head">Toncake</div>
          <div class="button-icon">
            <div class="icon-facebook">
              <img src="./image/icon-facebook.svg" />
            </div>
            <div class="icon-line">
              <img src="./image/icon-line.svg" />
            </div>
            <div class="icon-twitter">
              <img src="./image/icon-twitter.svg" />
            </div>
            <div class="icon-instagram">
              <img src="./image/icon-instagram.svg" />
            </div>
            <div class="icon-mail">
              <img src="./image/icon-mail.svg" />
            </div>
          </div>
        </div>
        <div class="main-menu">
          <div class="search">
            <img src="./image/icon-search.svg" />
            <label>SEARCH...</label>
          </div>
          <div class="mat-menu">
            <div class="menu">
                <a [routerLink]="['/']" class="home ">HOME</a>
              <a [routerLink]="['/about']" class="about active">ABOUT</a>
              <a [routerLink]="['/faq']" class="faq">FAQ</a>
            </div>
          </div>
          <div class="login">
            <div class="icon-user">
              <img src="./image/icon-user.svg" />
            </div>
            <div class="text-login">
              <label>LOG IN</label>
            </div>
            <div class="icon-bag">
              <img src="./image/icon-bag.svg" />
            </div>
          </div>
        </div>
        <div class="view">
          <img src="./image/theme7.svg" />
        </div>
        <div class="text-about">
          <label>ABOUT</label>
        </div>
        <div class="description-about">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat tincidunt mauris posuere varius. Praesent laoreet quam in ligula venenatis, vitae rutrum mauris lacinia. In consequat libero massa, vitae porta mauris pretium et. Integer risus purus, vulputate ut ante eu, ultricies faucibus eros. Phasellus tempus pharetra quam, at aliquam velit euismod nec. Curabitur imperdiet sapien mauris, at luctus urna placerat vel. Donec gravida odio ut dapibus rutrum. Mauris dolor orci, tristique a imperdiet nec, mollis ullamcorper sem.
            </p>
            <p>
                Donec vel ante vitae ipsum pulvinar ornare. Maecenas sed metus purus. Donec rhoncus arcu at lacinia venenatis. Etiam in tempus purus. Vivamus eget leo tellus. Donec cursus erat at nisl vulputate varius. Vivamus posuere sapien pellentesque dui aliquet, ac posuere metus lacinia. Donec consequat metus a gravida placerat. Praesent egestas nibh libero, id ultricies risus interdum eget. Sed eu scelerisque arcu. Quisque imperdiet ultricies tortor porttitor elementum. Fusce quis malesuada sapien, sit amet aliquet tellus. Donec in lobortis ante, quis convallis tellus. Quisque ultrices porta libero, vitae consectetur ligula tempor sit amet.
            </p>
        </div>
        <div class="text-reword">
            <label>REWORD</label>
        </div>
        <div class="line-vertical">
            <div class="text-left">
                <img src="./image/theme1-reword.svg">
                <div class="main-description">
                    <div class="year">2015-2017</div>
                    <div class="description">Lorem ipsum dolor</div>
                </div>
            </div>
            <div class="text-right">
                <div class="line-text-right"></div>
                <div class="description-text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat tincidunt mauris posuere varius. Praesent laoreet quam in ligula venenatis, vitae </div>
            </div>
            <div class="text-left">
                <img src="./image/theme2-reword.svg">
                <div class="main-description">
                    <div class="year">2015-2017</div>
                    <div class="description">Lorem ipsum dolor</div>
                </div>
            </div>
            <div class="text-right">
                <div class="line-text-right"></div>
                <div class="description-text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat tincidunt mauris posuere varius. Praesent laoreet quam in ligula venenatis, vitae </div>
            </div>
            <div class="text-left">
                <img src="./image/theme3-reword.svg">
                <div class="main-description">
                    <div class="year">2015-2017</div>
                    <div class="description">Lorem ipsum dolor</div>
                </div>
            </div>
            <div class="text-right">
                <div class="line-text-right"></div>
                <div class="description-text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat tincidunt mauris posuere varius. Praesent laoreet quam in ligula venenatis, vitae </div>
            </div>
        </div>
        <!-- <div class="grid-container">
          <div class="item1">
            <div class="group-text">
              <p class="item1-head">Lorem ipsum dolor sit amet, consectetur</p>
              <p class="item1-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                volutpat tincidunt mauris posuere varius. Praesent laoreet quam
                in ligula venenatis, vitae rutrum mauris lacinia. In consequat
                libero massa, vitae porta mauris pretium et. Integer risus
                purus, vulputate ut ante eu, ultricies faucibus eros. Phasellus
                tempus pharetra quam, at aliquam velit euismod nec.
              </p>
              <button class="button-more">
                <label>more</label>
              </button>
            </div>
          </div>
          <div class="item2">
            <img src="./image/theme2.svg" />
          </div>
        </div>
        <div class="grid-container2">
          <div class="item1">
            <div class="background-image"></div>
            <img src="./image/theme3.svg" />
          </div>
          <div class="item2">
            <div class="group-text">
              <button class="button-best-seller">
                <label>Best Seller</label>
              </button>
              <p class="item2-head">Lorem ipsum dolor sit amet, consectetur</p>
              <p class="item2-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                volutpat tincidunt mauris posuere varius. Praesent laoreet quam
                in ligula venenatis, vitae rutrum mauris lacinia. In consequat
                libero massa, vitae porta mauris pretium et. Integer risus
                purus, vulputate ut ante eu, ultricies faucibus eros. Phasellus
                tempus pharetra quam, at aliquam velit euismod nec.
              </p>
              <button class="button-more">
                <label>more</label>
              </button>
            </div>
          </div>
        </div>
        <div class="group-lorem">
          <div class="text-lorem">
            <label>Lorem ipsum</label>
          </div>
          <div class="menu-lorem">
            <div class="list-menu-lorem1">
              <div class="list-menu-image1">
                <img src="./image/theme4.svg" />
              </div>
              <div class="list-menu-gruop-text1">
                <label>Lorem ipsum</label>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                  volutpat tincidunt...
                </p>
              </div>
            </div>
            <div class="list-menu-lorem2">
              <div class="list-menu-image2">
                <img src="./image/theme5.svg" />
              </div>
              <div class="list-menu-gruop-text2">
                <label>Lorem ipsum</label>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                  volutpat tincidunt...
                </p>
              </div>
            </div>
            <div class="list-menu-lorem3">
              <div class="list-menu-image2">
                <img src="./image/theme6.svg" />
              </div>
              <div class="list-menu-gruop-text3">
                <label>Lorem ipsum</label>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                  volutpat tincidunt...
                </p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="last-navbar">
      <img src="./image/backgroud.svg" />
      <div class="group-last">
        <div class="text-last-navbar">
          <img src="./image/icon-last-logo.svg" />
        </div>
        <div class="text-description-last">
          <label>2818 S International Weslaco TX 78596 USA</label>
        </div>
        <div class="group-icon-last">
          <div class="icon-facebook-last">
            <img src="./image/icon-facebook-last.svg" />
          </div>
          <div class="icon-line-last">
            <img class="last-line" src="./image/icon-line-last.svg" />
          </div>
          <div class="icon-twitter-last">
            <img class="last-twitter" src="./image/icon-twitter-last.svg" />
          </div>
          <div class="icon-instagram-last">
            <img src="./image/icon-instagram-last.svg" />
          </div>
          <div class="icon-mail-last">
            <img class="last-mail" src="./image/icon-mail-last.svg" />
          </div>
        </div>
        <div class="text-connect">
          <label>© 2022 www.boltenergy-th.com | All Rights Reserved.</label>
        </div>
      </div>
    </div>
  </body>

  <script>
    function myFunction() {
      var element = document.body;
      element.classList.toggle("dark-mode");
    }
  </script>
</html>
