<section>
  <div class="container">
    <div class="main">
      <div class="view">
        <img src="./image/theme7.svg" />
      </div>
      <div class="text-about">
        <label>ABOUT</label>
      </div>
      <div class="description-about">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          volutpat tincidunt mauris posuere varius. Praesent laoreet quam in
          ligula venenatis, vitae rutrum mauris lacinia. In consequat libero
          massa, vitae porta mauris pretium et. Integer risus purus, vulputate
          ut ante eu, ultricies faucibus eros. Phasellus tempus pharetra quam,
          at aliquam velit euismod nec. Curabitur imperdiet sapien mauris, at
          luctus urna placerat vel. Donec gravida odio ut dapibus rutrum. Mauris
          dolor orci, tristique a imperdiet nec, mollis ullamcorper sem.
        </p>
        <p>
          Donec vel ante vitae ipsum pulvinar ornare. Maecenas sed metus purus.
          Donec rhoncus arcu at lacinia venenatis. Etiam in tempus purus.
          Vivamus eget leo tellus. Donec cursus erat at nisl vulputate varius.
          Vivamus posuere sapien pellentesque dui aliquet, ac posuere metus
          lacinia. Donec consequat metus a gravida placerat. Praesent egestas
          nibh libero, id ultricies risus interdum eget. Sed eu scelerisque
          arcu. Quisque imperdiet ultricies tortor porttitor elementum. Fusce
          quis malesuada sapien, sit amet aliquet tellus. Donec in lobortis
          ante, quis convallis tellus. Quisque ultrices porta libero, vitae
          consectetur ligula tempor sit amet.
        </p>
      </div>
      <div class="text-reword">
        <label>REWORD</label>
      </div>
      <div class="line-vertical">
        <div class="text-left">
          <img src="./image/theme1-reword.svg" />
          <div class="main-description">
            <div class="year">2015-2017</div>
            <div [ngClass]="darkmode ? 'description-dark' : 'description'">Lorem ipsum dolor</div>
          </div>
        </div>
        <div class="text-right">
          <div class="line-text-right"></div>
          <div class="description-text-right">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
            volutpat tincidunt mauris posuere varius. Praesent laoreet quam in
            ligula venenatis, vitae
          </div>
        </div>
        <div class="text-left">
          <img src="./image/theme2-reword.svg" />
          <div class="main-description">
            <div class="year">2015-2017</div>
            <div class="description">Lorem ipsum dolor</div>
          </div>
        </div>
        <div class="text-right">
          <div class="line-text-right"></div>
          <div class="description-text-right">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
            volutpat tincidunt mauris posuere varius. Praesent laoreet quam in
            ligula venenatis, vitae
          </div>
        </div>
        <div class="text-left">
          <img src="./image/theme3-reword.svg" />
          <div class="main-description">
            <div class="year">2015-2017</div>
            <div class="description">Lorem ipsum dolor</div>
          </div>
        </div>
        <div class="text-right">
          <div class="line-text-right"></div>
          <div class="description-text-right">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
            volutpat tincidunt mauris posuere varius. Praesent laoreet quam in
            ligula venenatis, vitae
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
